<html>
<head>
	<title>Outnix</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Mobile First  -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!--/Mobile First  -->


</head>


<body>

	<div class="container">
		<div id="container">

			<h1 class="heading"> <%= image_tag("Outnixlogo.png") %> </h1>

			<h3>An innovative platform to connect users with up to date locations of great 	    places
				to watch sports games.
				By collecting all schedules from all major sports teams across the country,
				we are connecting with local bars, restaurants, and other awesome locations
				to provide a single point of access to know all the great games going on around you
			</h3>


			<h2>Excited? We sure are. If you would like to find out more info feel free to contact us. </h2>

			<div class="btn-group" role="group" aria-label="...">



			  <a href="mailto:sparkcollaboration@gmail.com"><button type="button" class="btn btn-default">Vendors</button></a>


			  <a href="mailto:sparkcollaboration@gmail.com"><button type="button" class="btn btn-default">Sports viewers</button></a>

  <div class="btn-group" role="group">

  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Contact<span class="caret"></span>
		    </button>
    <ul class="dropdown-menu" role="menu">
		      <li><a href="mailto:sparkcollaboration@gmail.com">Servando Lopez</a></li>
		      <li><a href="mailto:sparkcollaboration@gmail.com">Crystal Duenas</a></li>
		      <li><a href="mailto:sparkcollaboration@gmail.com">Sean Cosentino</a></li>
    </ul>
  </div>
</div>


		</div>
	</div>



	<div>
		<span> <%= p @game_one %> </span>

		
	</div>

</body>
<footer>
</footer>



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>